body{
  font-family: "Montserrat";
}

h3{
  font-weight: 800;
}

#title{
  background-color: #232449;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.big-line{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
  color: #fff;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

/* Title */
.sub-big-line{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.5;
  padding-top: 50px;
}

.title-para{
  padding-bottom: 30px;
}

.title-img{
  width: 100%;
  padding-bottom: 30px;
}

.brand-img{
  width: 20%;
  padding-right: 35px;
}

.disney-img{
  width: 25%;
}

.brands{
  padding-bottom: 50px;
}

/* Features */

#features{
  padding: 7% 15%;
  background-color: #fff;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #232449;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #676BD6;
  margin-bottom: 1rem;
}

/* Feedbacks */
#feedbacks{
  background-color: #242526;
  color: #fff;
  height: 475px;
  text-align: center;
}

.feedback-title{
  padding-top: 2.5rem;
  font-weight: 900;
}

.feeds{
  padding: 50px 50px 0 0;
}

.carousel-item{
  padding: 7% 10%;
}

.ifram-item{
  width: 80%;
}

/* Customers Sections */
#customers{
  background: #242526;
  color: #fff;
  padding-bottom: 4rem;
  text-align: center;
}

.customer-number{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
}

.customer-para{
  font-weight: lighter;
  font-family: "Montserrat";
}

/* Pricing Section */
#pricing{
  padding: 7% 15%;
  text-align: center;
  line-height: 2;
}

.brand-logo{
  width: 30%;
}

.pricing-column{
  padding: 3% 2%;
  line-height: 1.5;
}

/* Media Queries */
@@media (max-width:1028px) {
  #title{
    text-align: center;
  }
}
